<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Nieuw project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
</head>
<body>

<header class="nav_bar">
    <h1 class="logo_text">BlockyTest</h1>
    <img src="{{ url_for('static', filename='img/image.png') }}" alt="Logo" class="header_logo">
</header>

<div class="form_page">
    <div class="form_box">
        <h2 class="form_title">Nieuw project toevoegen</h2>

        <form method="POST">
            <label for="name">Projectnaam:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Beschrijving:</label>
            <textarea id="description" name="description"></textarea>

            <div class="form_buttons">
                <button type="submit">Project aanmaken</button>
                <a href="{{ url_for('projects.overview') }}" class="go_back">Annuleren</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>