<!DOCTYPE html>
<html>
<head> 
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
</head>
<body>
<header class="nav_bar">
    <h1 class="logo_text">BlockyTest</h1>
    <img src="{{ url_for('static', filename='img/image.png') }}" alt="Logo" class="header_logo">
</header>

<main>
    <div class="projects_box">
        <div class="top_bar">
            <h2>My Projects</h2>
            <a href="{{ url_for('projects.add_project') }}" class="add_button">+</a>
        </div>

        {% if projects %} 
            <div class="grid"> 
                {% for project in projects %} 
                    <a href="{{ url_for('projects.project_detail', id=project.testflow_id) }}" style="text-decoration:none;">
                        <div class="card">
                            <p class="project_name">{{ project.name }}</p>
                            <p class="project_description">{{ project.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %} 
            <p>No projects yet. Click '+' to add one.</p>
        {% endif %}
    </div>
</main>

</body>
</html>
